.Rproj.user
.Rhistory
.RData
.Ruserdata
backUp
main.aux
main.blg
main.log
main.out
main.synctex.gz
main.toc
mydas-final.Rproj
stuff
stubb.aux
stubb.log
stubb.pdf
stubb.synctex.gz
stubb.tex
include5.tex.aux
stubb.out
